Increase/remove maximum length requirement for credential ID

[According to the spec](https://w3c.github.io/webauthn/#credential-id), the maximum length of a credential ID is 1023 bytes. This length is far too limiting at least for server-side credentials. This has always been true for RSA keys of substantial length. For example, [RFC 8230 § 6.1](https://www.rfc-editor.org/rfc/rfc8230#section-6.1) recommends support for keys whose modulus is up to 16K bits/2048 bytes which is impossible to encrypt and embed within a credential ID and maintain a length of at most 1023.

~~Now with post-quantum signatures schemes becoming more popular, the length limit is literally impossible to meet for server-side credentials. For example, [ML-DSA was added](https://www.iana.org/assignments/cose/cose.xhtml#algorithms) to the COSE registry [specifically for WebAuthn](https://www.ietf.org/archive/id/draft-vitap-ml-dsa-webauthn-00.html). The private keys for ML-DSA are quite large (e.g., ML-DSA-44 private keys are 2560 bytes) and consequently cannot be used for server-side-stored credentials. I don't think it makes sense to (implicitly) restrict signature schemes with actual cryptographic benefits to just passkeys.~~

If the maximum length was a recommendation then this can pose a challenge for server implementations that use predefined db schemas. Just saying … there are stakeholders other than authenticator vendors that care about this kind of detail. This could include browsers (clients) as well. 