musings wrt webauthn's profile of COSE_Key

presently, in [WD-06 section 5.3.1. Attestation data](https://www.w3.org/TR/2017/WD-webauthn-20170811/#sec-attestation-data), we say (in the last row of the table) in regards to the [credential public key](https://www.w3.org/TR/2017/WD-webauthn-20170811/#credential-public-key) (aka "user public key" see issue #540):
> The credential public key encoded in COSE_Key format, as defined in Section 7 of [RFC8152]. The encoded credential public key MUST contain the "alg" parameter and MUST NOT contain any other optional parameters. The "alg" parameter MUST contain a COSEAlgorithmIdentifier value. 

Given the stipulations in [Section 7 of [RFC8152]](https://tools.ietf.org/html/rfc8152#section-7) -- note that the "kty" param is required, and "alg" is one of the optional params, plus the MUST stipulations in [section 13.1.1](https://tools.ietf.org/html/rfc8152#section-13.1.1) for "x", "y", and "crv". This means we'd actually have instantiated COSE_Key structures, for EC public keys, like so:
```
 {
    1: <kty>     ; required by S 7 RFC8152, example value '2', ie "EC2"
    3: <alg>     ; optional per RFC8152, required per webauthn, exp. value '-7', ie "ES256"
   -2: <x coord> ; required by S 13.1.1 RFC8152
   -3: <y coord> ; required by S 13.1.1 RFC8152
   -1: <crv>     ; required by S 13.1.1 RFC8152, exp. value '1', ie "P-256"
 }
```

Yes?


Yes, that's my interpretation for ES256. I would put three examples corresponding to ES256, PS256 and RS256.

RS256
{
  1:3,
  3:-257,
  -1: <n>,
  -2: <e>
}

PS256
{
  1:3,
  3:-37,
  -1: <n>,
  -2: <e>
}


calculating the size of COSE-encoded EC public keys [RFC8152] for curve P-256 in EC2 form, with "alg" included:

Using the first public key from <https://tools.ietf.org/html/rfc8152#appendix-C.7.1> with the optional "kid" field (i.e., "2") removed and some including some comments here for documentation):
```
{ ; EC public key (curve point) in "EC2" "uncompressed" form 
  ; (both x & y coords present) on P-256 curve:
-1:1,  ; "crv": "P-256"
1:2,   ; "kty": "EC2"
3:-7   ; "alg": "ES256"

; curve point x coord:
-2:h'65eda5a12577c2bae829437fe338701a10aaa375e1bb5b5de108de439c08551d',

; curve point y coord:
-3:h'1e52ed75701163f7f9e40ddf9f341b3dc9ba860af7e0ca7ca7e9eecd0084d19c'

}
```
then:
```
# gem install cbor-diag   // assumes you have Ruby's "gem" package manager installed

# cat > PublicKeyInCOSEKeyCBORDiagnosticFormat.cbor
{
-1:1,
1:2,
3:-7,
-2:h'65eda5a12577c2bae829437fe338701a10aaa375e1bb5b5de108de439c08551d',
-3:h'1e52ed75701163f7f9e40ddf9f341b3dc9ba860af7e0ca7ca7e9eecd0084d19c'
}

# ls -l PublicKeyInCOSEKeyCBORDiagnosticFormat.cbor
rw-r--r--  1 jehodges  110028724  164 Sep  5 06:41 PublicKeyInCOSEKeyCBORDiagnosticFormat.cbor


#  diag2cbor.rb < PublicKeyInCOSEKeyCBORDiagnosticFormat.cbor > PublicKeyInCOSEKeyBinaryFormat.bin

# ls -l PublicKeyInCOSEKeyBinaryFormat.bin
-rw-r--r--  1 jehodges  110028724  77 Sep  5 06:42 PublicKeyInCOSEKeyBinaryFormat.bin
// PublicKeyInCOSEKeyBinaryFormat.bin is 77 bytes long


# cbor2diag.rb < ./PublicKeyInCOSEKeyBinaryFormat.bin
{-1: 1, 
1: 2, 
3: -7, 
-2: h'65EDA5A12577C2BAE829437FE338701A10AAA375E1BB5B5DE108DE439C08551D', 
-3: h'1E52ED75701163F7F9E40DDF9F341B3DC9BA860AF7E0CA7CA7E9EECD0084D19C'}
```
The above cbor2diag.rb output matches the text input to the PublicKeyInCOSEKeyCBORDiagnosticFormat.cbor file (above).

since binary format CBOR-encoded data does not have whitespace, and  we are stipulating that we are using a particular ECC curve (P-256), and  uncompressed point format, I am thinking we can conclude that such  binary CBOR-encoded ECC public keys will be of a constant size, and  the above gives that fixed size as 77 bytes. 

Converting PublicKeyInCOSEKeyCBORDiagnosticFormat.cbor's text  diagnostic representation to CBOR binary dump format  (using http://cbor.me) yields:
```
A5                                      # map(5)
   20                                   # negative(0)
   01                                   # unsigned(1)
   01                                   # unsigned(1)
   02                                   # unsigned(2)
   03                                   # unsigned(3)
   26                                   # negative(6)
   21                                   # negative(1)
   58 20                                # bytes(32)
      65EDA5A12577C2BAE829437FE338701A10AAA375E1BB5B5DE108DE439C08551D
   22                                   # negative(2)
   58 20                                # bytes(32)
      1E52ED75701163F7F9E40DDF9F341B3DC9BA860AF7E0CA7CA7E9EECD0084D19C

```
..which verifies that the x & y coord values are 32 bytes each, and the CBOR overhead plus the kty (key type, 1) value, the crv (curve type, -1) value, and alg (alg type, 3) value, is 13 bytes, yielding a  total size of 77 bytes. 












Adding milestone tag to be tracked. 

@equalsJeffH Please verify

The part describing the public key format in the spec looks fine to me, although it should probably either be made clear that the map isn't sorted, or the map should be sorted correctly.

I wonder if there should be another issue about CBOR sorting in general. The CTAP2 spec sorts maps slightly differently than the CBOR RFC, and either CTAP2 sorting is used for WebAuthn CBOR too, or implementers will have to use two encoder/decoders and possibly re-sort maps when passing them through.

@ttaubert pls see PR #731 wrt your above comment.

wrt the OP https://github.com/w3c/webauthn/issues/543#issue-254845328, here's my suggestion for updating the parag describing the COSE_Key format format:
> The [=credential public key=] encoded in COSE_Key format, as defined in Section 7 of [[RFC8152]]. The COSE_Key-encoded [=credential public key=] MUST contain the optional "alg" parameter and MUST NOT contain any other optional parameters. The "alg" parameter MUST contain a {{COSEAlgorithmIdentifier}} value. The encoded [=credential public key=] MUST also contain any additional required parameters stipulated by the relevant key type specification, i.e., required for the key type "kty" and algorithm "alg" (see Section 8 of [[RFC8152]]).

Additionally, I'll add examples per @akshayku's suggestion https://github.com/w3c/webauthn/issues/543#issuecomment-327040747.

Jeff's suggestion looks good to me

@equalsJeffH Yes, ES256 example is correct. 