Define a attestation format with RFC8152-style signing?

Section 6.4.5 says
>For COSEAlgorithmIdentifier -7 (ES256), and other ECDSA-based algorithms, a signature value is encoded as an ASN.1 DER Ecdsa-Sig-Value, as defined in [RFC3279] section 2.2.3.
>Note: As CTAP1/U2F authenticators are already producing signatures values in this format, CTAP2 authenticators will also produce signatures values in the same format, for consistency reasons. It is recommended that any new attestation formats defined not use ASN.1 encodings, but instead represent signatures as equivalent fixed-length byte arrays without internal structure, using the same representations as used by COSE signatures as defined in [RFC8152] and [RFC8230].

Does it make sense to define a new attestation format in the spec itself, similar to `packed` except using RFC8152 style COSE signing instead of ASN.1? This makes it easier for authenticators because they already have some COSE support since the public key is in COSE format.

See https://github.com/w3c/webauthn/pull/1121

The specification https://tools.ietf.org/html/draft-hodges-webauthn-registries will create registries enabling new attestation formats to be defined by other specifications.  Therefore, the WebAuthn specification itself need not do so.  Closing on this basis, per the 7-Mar-19 in-person working group meeting.