Consider deprecating COSE algorithm identifier -7 in favour of -9.

## Proposed Change

The COSE algorithm identifier -7 is "ECDSA with SHA-256", but it doesn't specify the curve. WebAuthn is sensible and [fixes it to P-256](https://w3c.github.io/webauthn/#sctn-alg-identifier). [RFC9864 section 2.1](https://datatracker.ietf.org/doc/html/rfc9864#section-2.1) defines new identifiers that carry the information of the curve (-9 for P-256), with `-7` considered deprecated now.

WebAuthn should _probably_ recommend and default to `-9`, and convert it into `-7` for authenticators that don't support `-9` (which is probably _all_ authenticators now).

See also: #2276, #2282, #2283. The discussion in #2283 landed in recommending _against_ using the new identifiers.

One of the reasons for that was, for example, if an RP requests -9 and gets a public key back with `alg: -7` and therefore rejects that response because it doesn't match what was requested. Clients certainly could convert -9 requests to -7 where needed, but unfortunately they _cannot_ convert a -7 response to a -9 response since (one of) the -7 in the response is in the COSE public key in the signed authenticator data (the other being the `alg` in some attestation statements, which could be converted without breaking anything).

So I'm not sure we feasibly _can_ fully migrate the API to the new identifiers. See #2283 for much more detail about those concerns.

Ugh I swear I tried to find existing issues :S

Keeping this as-is sounds good, thank you.