Android key attestation missing certificate validation steps

This [blog post](https://medium.com/@herrjemand/webauthn-fido2-verifying-android-keystore-attestation-4a8835b33e9d) by @herrjemand mentions:

> 6. Check that root certificate(last in the chain) is set to:
> https://gist.github.com/herrjemand/a612608dfbb2bc136aba57c64ff4a04c#file-androidkey-attestation-root-pem
> At the moment of writing, Google does not publish this certificate, so this was extracted from one of the attestations.
> 7. Verify certificate path using the algorithm specified in RFC5280 section 6

and further down in the code snippet:

>  * The last certificate in x5c must match this certificate
> * This needs to be checked to ensure that malicious party wont generate fake attestations

It struck me as odd that these steps are not mentioned in the spec given these warnings.


[§8.4. Android Key Attestation Statement Format](https://w3c.github.io/webauthn/#android-key-attestation)

Do I read those quoted steps to mean, in summary, "verify the certificate path"? If so, steps 15 and 16 of [§7.1. Registering a New Credential][reg] should cover that for all attestation statement formats at once, though in more abstract terms:

>15. If validation is successful, obtain a list of acceptable trust anchors (attestation root certificates or ECDAA-Issuer public keys) for that attestation type and attestation statement format fmt, from a trusted source or from policy. For example, the FIDO Metadata Service [FIDOMetadataService] provides one way to obtain such information, using the aaguid in the attestedCredentialData in authData.
>
>14. Assess the attestation trustworthiness using the outputs of the verification procedure in step 14, as follows:
>     - If no attestation was provided, verify that None attestation is acceptable under Relying Party policy.
>     - If self attestation was used, verify that self attestation is acceptable under Relying Party policy.
>     - If ECDAA was used, verify that the identifier of the ECDAA-Issuer public key used is included in the set of acceptable trust anchors obtained in step 15.
>     - Otherwise, use the X.509 certificates returned by the verification procedure to verify that the attestation public key correctly chains up to an acceptable root certificate.



Closely related: #950

[reg]: https://w3c.github.io/webauthn/#registering-a-new-credential

Hi @emlun you're absolutely right, I missed that 🤦‍♂️ thanks!

I'm thinking the wording might be a little more clear to use the same terms as the attestation statement format verification procedures. E.g. reword step 16 to something like:

> 16. Assess the attestation trustworthiness using the outputs of the verification procedure in step 14, as follows:
> 
> * If no attestation was provided, verify that None attestation is acceptable under Relying Party policy.
> * If self attestation was used, verify that self attestation is acceptable under Relying Party policy.
> * If ECDAA was used, verify that the identifier of the ECDAA-Issuer public key returned in the attestation trust path is included in the set of acceptable trust anchors obtained in step 15.
> * Otherwise, use the X.509 certificates returned in the attestation trust path to verify that the attestation public key correctly chains up to an acceptable root certificate.

WDYT?

Looks like a good idea to me! I'll draft a PR.